{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    {% if user.is_authenticated %}
      <h1 class="text-center text-success">Вы уже вошли</h1>
    {% else %}
      <form method="post" enctype="multipart/form-data" class="border p-4 rounded shadow-sm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100">Войти</button>
      </form>
    {% endif %}

    {% if form.errors %}
      <h2 class="text-danger mt-4 text-center">Вы ввели неверные данные</h2>
    {% endif %}
  </div>
{% endblock %}